/* Add your styles here */
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2024/01/14/00/31/ai-generated-8507025_1280.jpg);
}

.card-container {
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
  margin-left: 10px;
  padding-bottom: 20px;
}

.tarot-card {
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust as needed */
  margin: 10px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ffd0d7;
}

.tarot-card h2 {
  margin-bottom: 10px;
  text-align: center;
}

.card-front img {
  max-height: 100%; /* Fix to prevent images from being shrunk */
  border-radius: 5px;
  display: block;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.tarot-card:hover .card-inner {
  transform: rotateY(180deg);
}
