@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral/Spectral-Medium.ttf") format("truetype");
}

/* Import the Great Vibes font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  font-family: "Spectral";
  font-size: 18px;
  color: #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Aligns everything in a vertical stack */
  height: 100vh;
  background-image: url(./images/background.webp);
  text-align: center; /* Ensures text inside body is centered */
}

.navbar {
  position: fixed;
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  margin: 0 5px;
  transition: background-color 0.3s;
  font-family: "Spectral";
  font-size: 18px;
}

.navbar a:hover {
  background-color: #ffd0d7;
}

.navbar .dropdown {
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffcdc; /* Dropdown background color */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensure dropdown is above the navbar */
  max-height: 700px; /* Set the maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

.navbar .dropdown-content a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  margin: 5px; /* Adjust as needed for spacing between items */
  white-space: nowrap; /* Prevent text wrapping */
}

.navbar .dropdown-content a:hover {
  background-color: #ffd0d7; /* Hover background color */
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

/* Video container */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Video styling */
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

/* Button container centering */
.buttons-container {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  gap: 30px; /* Adds space between buttons */
  margin-bottom: 20px; /* Adds space below the buttons */
  width: 100%; /* Ensures the container stretches to fill width for centering */
  max-width: 600px; /* Optional: limits the width of the button container */
}

/* Button styles */
.btn {
  background: #d9a7c7;
  color: #000;
  padding: 12px 30px;
  border: 2px solid pink; /* Added solid border */
  border-radius: 5px; /* Optional: for rounded corners */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn:hover {
  background-color: #2980b9;
  color: #fff;
  transform: scale(1.1); /* Slight zoom effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow effect on hover */
}

/* Card container centering */
.cards-container {
  display: flex;
  justify-content: center; /* Centers cards horizontally */
  gap: 20px; /* Adds space between cards */
  flex-wrap: wrap; /* Ensures cards can wrap if there's not enough space */
  width: 80%; /* Controls the width of the card container */
  margin-top: 30px; /* Adds space above the card container */
  max-width: 800px; /* Optional: limits the width of the card container */
}

.tarot-card {
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 275px;
  margin: 10px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ffd0d7;
}

.tarot-card:hover {
  opacity: 0.9;
}

.tarot-card h2 {
  margin-bottom: 10px;
  text-align: center;
}

.tarot-card p {
  text-align: center;
}

.card-front img {
  max-height: 100%;
  border-radius: 5px;
  display: block;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.tarot-card:hover .card-inner {
  transform: rotateY(180deg);
}

/* card meanings/directory layout */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 10px;
  height: 100vh;
  margin-top: 300px;
  margin-left: 500px;
  margin-right: 500px;
}

/* Tablet view: 2 cards per row */
@media (max-width: 850px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar a {
    font-size: 16px;
  }
}

/* Mobile view: 1 card per row */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 50px;
    margin-right: 50px;
  }
  .navbar a {
    font-size: 14px;
  }
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffcdc; /* Dropdown background color */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure dropdown is above the navbar */
    max-height: 300px; /* Set the maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}

#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #ffd0d7;
  color: #000;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Spectral";
}

#back-to-top:hover {
  background-color: #000;
  color: #ffd0d7;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

